.header{
    font-weight: bold;
}

nav{
    float: right;
}
a:link{
    text-decoration: none;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    margin-right: 2%;
    }
 .half-width h1 {
        font-size: 500px;
        font-family:'Bebas Neue';
      }
    .first-part, .second-part{
        height:600px;
    margin-top: 40px;
    margin-bottom: 10px;
    }
p{
    color: gray;
}
.half-width h1 {
    font-size: 80px;
    font-family:'Bebas Neue';
  }
nav ul{
    padding-right: 120px;
}
nav li{
    display: inline-block;
    margin-left: 10px;
    
}
section{
    padding-bottom: 200px;
}
.half-width img{
    display: block;
    width: 100%;
    padding-right: 25%;
    margin-right: 450px;
    right: 16px;
}
.pos{
    margin-right:20%;
}
.salmon-highlight{
    color: lightsalmon;
}
.link-button{
    background-color: orange;
    padding: 10px 20px;
    border-radius: 5px;
    color: White;
    font-weight: 600;
    background-image: linear-gradient(45deg, lightsalmon,tomato);
}
h1{
    color:navy
}
.latest-project-background{
    background-color: #F8F9FC;
    margin-bottom: 200px;
    height: 700px;
    padding-top: 100px;
}
.latest-projects{
    width: 91%;
    height:800px;
    margin: 0px auto;
    }

.latest-projects h3{
    font-family: 'Bebas Neue', cursive;
    color: #363958;
    text-transform: uppercase;
    text-align: center;
    font-size: 64px;   
    letter-spacing: 0.06em; 
}
.latest-projects h3 span{
    color: #f46060;;
}
.project{
    width: 30%;
    margin-left:2.5%;
    float:left;
    border-radius: 10px;
    background-color: white;
    box-shadow: 10px 10px 40px gray;
}
.project-content{
    padding: 15px;
  
}

.project img{
    width: 100%;
}
.work-inquiry {
  background-image: url("images/images/inq.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 20;
  width: 72%;
  height: 29.8px;
  margin: auto;
  position: relative;
  border-radius: 30px;
}

.text {
  position: absolute;
  bottom: 45px;
  left: 20px;
}
.text h1 {
  color: white;
  padding: 20px;
}
.btn {
  color: white;
}

.btn a {
  color: white;
  background: linear-gradient(tomato, salmon);
  padding: 10px 25px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bolder;
  position: absolute;
  right: 12.9px;
  top: 72.8px;
}
.float-clear {
  clear: both;
}




.stay-connected{
  text-align:center;
  padding:20px;
}
.stay-connected .icons img{
  width: 50px;
  margin:5px;
}


.work-inquiry{
    margin: 0,auto;
    width: 70%;
    margin-bottom: 100px;
    
    
}
.work-inquiry-img img{
width: 90%
}
.flow{
    color: white;
    position: absolute;
    
    padding-top: 110px;
    padding-left: 100px;

}

.link-button-chat{
    color: white;
  background: linear-gradient(tomato, salmon);
  padding: 10px 25px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bolder;
  position: absolute;
  right: 12.9px;
  top: 72.8px;
}
.position{
    margin: 0,auto;
    position: absolute;
   padding-top: 110px;
   padding-left: 1250px;
   padding-bottom: 10px;
   top: 20%;
   transform: translate(-10%,15%);
   

}
.new-add{
    margin-top: 250px;
}
.shadow{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 80%;
    background-color: white;
}

.left-side{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon,tomato);
    border-image-slice: 1;
}
.right-side{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue,cyan);
    border-image-slice: 1;
}
.left-side .shadow{
height: 700px;
}
.shadow-area{
    margin-bottom: 20px;
}

.last-part{
margin-top: 110px;
margin: 0,auto;
text-align: center;
margin-bottom: 0px;
padding-top: 40px;
height: 30px;
}

.icon-area{
      width:25%;
    text-align:center;
    margin-left: 700px;
    margin-top: 100px;
    height: 30px;
     float: left;
}

.icon-area img{
    width: 15%;
}
  




footer {
    margin-top: 300px;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
}
*/